body {
     background: #ffffff;
     padding-top: 38px;
    
}


ul {
    list-style-type: none;
    background-color: #ffffff;
    
}

li {
    display: inline;
    float: left;
    margin: 20px;
    
}

.navbar-text {
    float: right;
    margin-right: 20px;
}



nav {
    width: 100%;
    height: 70px;
    box-shadow: 1px 1px 5px #888888;
    
    
    
}

.navbar-left {
    margin-top: 15px;
    margin-left: 5px;
}



.navbar-brand {
    padding: 0px;
    margin: 0px;
    padding-left: 30px;
}

.navbar-header {
    background-color: #ffffff;
}


.well {
    background: #ffffff;
    text-align: center;
}



#brandName {
    color: #0fa231;
    
}

#brandName:hover {
    text-decoration: none;
    color: #9000b2;
}
#navLinks > li > a {
    color: #9000b2;
}

#navLinks > li > a:hover {
    text-decoration: none;
    color: #0fa231;
    
}

#mobNum {
    color: #0fa231;
}

#beforeAfter > img {
    
    text-align: center;
}

#homeWell {
    text-align: center;
}

#endWell {
    padding-bottom: 100px;
}

footer {
    text-align-last: right;
}





